#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color :white;
}
img{
  width: 500px;
  height: auto;
}
.h2{
  color:brown;
}
body{
  background-color: #0d1b2a;
}
